
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Room</title>

    <!-- Bootstrap core CSS -->
    <style>
    div#chat-content {
      height:auto;
      overflow: hidden;
      max-height:300px;
      min-height:300px;
    }
    .chat-time{
      font-size:12px;
      margin-bottom:-4px;
      color:#999;
      margin-top:4px;
    }
    .chat-name{
      font-size:14px;
      margin-bottom:0px;
    }
    .chat-line{
      margin-top:0px;
      margin-bottom:0px;
    }
    .chat-list-ul {
      margin-left:-40px;
      margin-top:0px;
    }
    .chat-list-li {
      list-style:none;
    }
    #main{
      margin-bottom:40px;
    }
    </style>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://v3.bootcss.com/examples/blog/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="http://v3.bootcss.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/rome">Room</a>
          <a class="blog-nav-item" href="/about">About</a>
        </nav>
      </div>
    </div>

    <div id="main" class="container">

      <div class="blog-header">
        <h1 class="blog-title">Enjoy chatting</h1>
        <p class="lead blog-description">Hmmm...</p>
      </div>

      <div class="row">

        <div class="col-sm-11 blog-main">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>&nbsp;Chat Window</div>
            <div id="chat-content" class="panel-body">
              <ul class="chat-list-ul">
             </ul>
            </div>
          </div>

        </div><!-- /.blog-main -->

      </div><!-- /.row -->

      <div class="row">
        <div class="col-lg-11">
          <div class="input-group">
            <input id="send-input" type="text" class="form-control" placeholder="Well...">
            <span class="input-group-btn">
              <button id="send-button" class="btn btn-default" type="button">发送(Shift+Enter)</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->




    </div><!-- /.container -->

    <footer class="blog-footer">
      <p><a href="http://github.com/GenialX/Guring">Guring</a> by <a href="https://weibo.com/ihuxublog">@GenialX</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="http://www.ihuxu.com/public/css/jquery.json-2.3.min.js"></script>
    <script type="text/JavaScript">
        
        var MAX_CHAT_LIST = 7; // 可展示的LI个数
        var HEIGHT_PER_LIST = 40; // 每个LI的高度（像素）
        var DEBUG = false;
        var ROLL_SPEED = 'fast'; // 聊天窗口滚动速度
		var LEFT_LI_MAX = 10; //允许保留的LI数量
		// 聊天记录的起始时间
        var msgStartTimestamp = new Date().getTime() - (1000 * 60 * 10 * 6);
		var GET_SEC_PER_ONE_TIME = 3; // 没几秒钟拉取一次数据
		var Room = function() {
			
            // 聊天窗口
            var chatViewRun = function() {
              var timer = setInterval( function() {
                  _getChatData();
                  //clearInterval(timer);
              } , 1000 * GET_SEC_PER_ONE_TIME);
            };

            // 获取数据
            var _getChatData = function() {
		    //var result = '{"ErrorCode":0,"ErrorMsg":"successful","Data":"\u003cli class=\'chat-list-li\'\u003e\u003cp class=\'text-center chat-time\'\u003e2015-12-23 22:22:08\u003c/p\u003e\u003cp class=\'text-left chat-name\'\u003e\u003cstrong\u003eGenialX\u003c/strong\u003e \u003ci\u003eSaid\u003c/i\u003e: \u003cspan\u003eBaitch....\u003c/span\u003e\u003c/p\u003e\u003chr class=\'chat-line\'/\u003e\u003c/li\u003e"}';
		    //var obj = $.parseJSON(result); 
		    
		    //return content;
                    $.get("/api/getdata?roomid=1720&msgstarttimestamp=" + msgStartTimestamp, function(result){
                      if(DEBUG) alert("getdata ok");
		      var obj = $.parseJSON(result);
			if(obj.ErrorCode == 0) {
			// success
			if(DEBUG) alert("服务接口api/getdata返回成功");
			var html = obj.Data;
                        _appendChatData(html);
	       		_rollChatWin();
			}else {
			// fail
				 if(DEBUG) alert("服务接口api/getdata失败");
			}
				
			
		      });
					// 更改消息读取的起始时间
					msgStartTimestamp = new Date().getTime();
					

            }

            // 追加数据
            var _appendChatData = function(data) {// append 
                    if(DEBUG) alert("当前有" + $(".chat-list-ul li").length + "个li");
                    $(".chat-list-ul").append(data);
                    if(DEBUG) alert("追加一个节点后有" + $(".chat-list-ul li").length + "个li");
            }

            // 删除节点
            var _removeChatData = function() {
                    if(DEBUG) alert("当前有" + $(".chat-list-ul li").length + "个li");
                    if($(".chat-list-ul li").length > LEFT_LI_MAX) {
                      if(DEBUG) alert("当前节点LI的数量大于了允许保留的最大值" + LEFT_LI_MAX + " 删除节点操作");
                      var removeSum = $(".chat-list-ul li").length - LEFT_LI_MAX;
                      var curMT = parseInt($(".chat-list-ul").css("margin-top"));
                      $(".chat-list-ul li:lt(" + ( $(".chat-list-ul li").length - LEFT_LI_MAX ) + ")").remove();
                      // 移位
                      if(DEBUG) alert("移位" + (curMT + removeSum * HEIGHT_PER_LIST) + "px");
                      $(".chat-list-ul").css({"margin-top": (curMT + removeSum * HEIGHT_PER_LIST) + "px"});
                      if(DEBUG) alert("删除多余节点后有" + $(".chat-list-ul li").length + "个li");
                    }

            }

            // 滚动聊天窗口
            var _rollChatWin = function() {
                var chatViewLi = $(".chat-list-ul li");
                var liSum = chatViewLi.length;
                var moveSum = MAX_CHAT_LIST - liSum;
                if(moveSum < 0) {
                    if(DEBUG) alert("move");
                    var curMT = parseInt($(".chat-list-ul").css("margin-top"));
                    if(DEBUG) alert("margin-top" + curMT);
                    var setMT = 0;
                    var setMT = HEIGHT_PER_LIST * moveSum;
                    if(setMT == curMT) {
                      if(DEBUG) alert("no new data append");
                    } else {
                      if(DEBUG) alert("set margin-top to " + setMT  + "px");
                      $(".chat-list-ul").animate({"margin-top" : setMT   + "px"},ROLL_SPEED,function() {
                         _removeChatData();
                      });
                    }
                } else {
                    if(DEBUG) alert("just it");
                }
            }

            var sendRun = function() {
             
            // 绑定键盘事件
            $("#send-input").keydown(function(event){  
                if(event.shiftKey&& event.which == 13) {
                    // shift + enter
                    if(DEBUG) alert("shift + evnet");
                    _inputSentEvent();
                }
            }); 


            $("#send-button").click(function() {
                  if(DEBUG) alert("mouse click");
                  _inputSentEvent();
              });
            }

            var _inputSentEvent = function() {
                    var data = _getSentInput();
					if(DEBUG) alert("input value:" + data);
					_sendInputData(data);
            };


            // 发送input内容
            var _sendInputData = function(content) {
				// 异步
				if(DEBUG) alert("_sendInputData")
                $.post("/api/postdata", { roomid: "1720", name: "John", content: content },
                   function(data){
				   if(DEBUG) alert("send input data ok");
				   var obj = $.parseJSON(data);
				   if(obj.ErrorCode == 0) {
						
                    _clearSentInput();
					} else {
					alert("抱歉，发送消息失败，请联系作者");
					}
                });
            }

            // 清楚input内容
            var _clearSentInput = function() {
              $("#send-input").val("");
            };

            // 获取INPUT内容
            var _getSentInput = function() {
              return $("#send-input").val();
            }
        
            return {
                init : function() {
                    chatViewRun();
                    sendRun();
                }
            }; 
        }();

         $(document).ready(function(){
            Room.init();
         });


    </script>
  </body>
</html>
