
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Room</title>

    <!-- Bootstrap core CSS -->
    <style>
    div#chat-content {
      height:auto;
      overflow: hidden;
      max-height:300px;
      min-height:300px;
    }
    .chat-time{
      font-size:12px;
      margin-bottom:-4px;
      color:#999;
      margin-top:4px;
    }
    .chat-name{
      font-size:14px;
      margin-bottom:0px;
    }
    .chat-line{
      margin-top:0px;
      margin-bottom:0px;
    }
    .chat-list-ul {
      margin-left:-40px;
      margin-top:0px;
    }
    .chat-list-li {
      list-style:none;
    }
    #main{
      margin-bottom:40px;
    }
    </style>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://v3.bootcss.com/examples/blog/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="http://v3.bootcss.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/room">Room</a>
          <a class="blog-nav-item" href="/about">About</a>
        </nav>
      </div>
    </div>

    <div id="main" class="container">

      <div class="blog-header">
        <h1 class="blog-title">Enjoy chatting</h1>
        <p class="lead blog-description">Hmmm...</p>
      </div>

      <div class="row">

        <div class="col-sm-11 blog-main">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>&nbsp;Chat Window</div>
            <div id="chat-content" class="panel-body">
              <ul class="chat-list-ul">
             </ul>
            </div>
          </div>
        </div><!-- /.blog-main -->

      </div><!-- /.row -->

      <div class="row">
        <div class="col-lg-11">
          <div class="input-group">
            <input id="send-input" type="text" class="form-control" placeholder="Well...">
            <span class="input-group-btn">
              <button id="send-button" class="btn btn-default" type="button">发送(Shift+Enter)</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
	  
	<div class="something">
		<input type="hidden" id="nickname" value="{{.Nickname}}" />
	</div>

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p><a href="http://github.com/GenialX/Guring">Guring</a> by <a href="https://weibo.com/ihuxublog">@GenialX</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="http://www.ihuxu.com/public/css/jquery.json-2.3.min.js"></script>
	<script src="/scripts/room-chat.js"></script>
	<script type="text/javascript">   
         $(document).ready(function(){
            Room.init();
         });
    </script>
  </body>
</html>
